@font-face {
  font-family: "Cabinet Grotesk";
  src: url(../vendor/fonts/CabinetGrotesk-Regular.woff) format("woff");
}

.sidebar {
  display: flex;
}

.sidebar__img {
  width: 56px;
  height: 56px;
}

.sidebar__username {
  width: 229px;
  margin-left: 24px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
